html {
    height: 100%;
}
body {
    height: 100%;
}
#root {
    height: 100%;
    background-color: #979797;
}
.kanji {
    font-size: 100px;
}
.progress-bar-wrapper {
    width: 90%;
}
.btn:focus, .btn:active {
    box-shadow: none;
}
.answer-kanji-single {
    font-size: 22px;
    text-align: center;
}